WORDPRESS_PORT=8080
WORDPRESS_URL=http://localhost:8080
WORDPRESS_TITLE=Tier3 Media
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=tier3-demo
WORDPRESS_ADMIN_EMAIL=admin@localhost.local

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=tier3-root
